@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${newsPanel.id}">
            <input type="hidden" id="currentPageName" value="newsPanel_edit">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="name" name="名称" underline="true" value="${newsPanel.name}"/>
                    <#input id="englishName" name="英文名称" value="${newsPanel.englishName}"/>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">分类</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="category" type="text" readonly="readonly"
                                   value="${newsPanel.category}"
                                   onclick="NewsPanelInfoDlg.showCategorySelectTree('newsPanel_add'); return false;"
                                   style="background-color: #ffffff !important;"/>
                            <input class="form-control" type="hidden" id="categoryId" value="${newsPanel.categoryId}">
                        </div>

                        <!-- 这是分类选择的下拉框 -->
                        <div id="categoryMenuContent" class="menuContent"
                             style="display: none; position: absolute; z-index: 99999;">
                            <ul id="categoryTreeDemo" class="ztree tree-box" style="width: 249px !important;"></ul>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <#input id="weight" name="权重" underline="true" value="0"/>
                </div>

                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="提交" id="ensure" icon="fa-check"
                        clickFun="NewsPanelInfoDlg.editSubmit()"/>
                        <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser"
                        clickFun="NewsPanelInfoDlg.close()"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/cms/newsPanel/newsPanel_info.js"></script>
@}
