@charset "utf-8";
/* CSS Document */
#scroll-ul {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
}

/*#scroll_ul li{width:400px; height:30px;}*/

#scroll-div {
    width: 100%;
    height: 240px;
    position: relative;
    overflow: hidden;
}
